a:hover *,
[data-bs-toggle="collapse"]:hover{
    cursor: pointer;
}

.bs-navbar-nav .nav-link.active{
    font-weight: 600;
}

/* animate icon */
.animate-icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: rotate(-5deg) scale(1.1);
}

/* dropdown menu */
.dropdown-menu{
    padding:calc(var(--bs-dropdown-spacer)*2);

}

.dropdown-menu .dropdown-item {
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu .dropdown-item:not(:last-child) {
    margin-bottom: calc(var(--bs-dropdown-spacer)*2);
}

/* example */
@media (max-width: 768px) {
.example.card {
        margin: 0 -1.5rem 1rem;
        border-radius: 0;
        border-left: 0;
        border-right: 0
    }
}

/* anchor link */
.anchor-link:focus,
.anchor-link:hover,
:hover>.anchor-link,
:target>.anchor-link {
    color: var(--bs-primary-text);
    text-decoration: none;
    opacity: 1;
}

.anchor-link {
    padding: 0 .175rem;
    font-weight: 400;
    color: rgba(var(--bs-primary-rgb), 0.5);
    text-decoration: none;
    opacity: 0;
    transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.anchor-link::after {
    content: "#";
}

/* sidebar */
@media (min-width: 992px) {
    .bs-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}

@media (max-width: 991.98px) {
    .bs-sidebar .offcanvas-lg {
        border-right-color: var(--bs-border-color);
        box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175)
    }
}

.bs-links-heading {
    color: var(--bs-emphasis-color)
}

@media (max-width: 991.98px) {
    .bs-links-nav {
        font-size: .875rem
    }
}

@media (max-width: 991.98px) {
    .bs-links-nav {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem
    }

    .bs-links-nav .bs-links-group {
        -moz-column-break-inside: avoid;
        break-inside: avoid
    }

    .bs-links-nav .bs-links-span-all {
        -moz-column-span: all;
        column-span: all
    }
}

.bs-links-link {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.125rem;
    color: var(--bs-body-color);
    text-decoration: none
}

.bs-links-link:hover,
.bs-links-link:focus {
    background-color: rgba(var(--bs-primary-rgb), 0.25)
}

.bs-links-link.active {
    font-weight: 600;
    color: var(--bs-light);
    background-color: var(--bs-primary)
}

.bs-gutter {
    --bs-gutter-x: 3rem
}

@media (min-width: 992px) {
    .bs-layout {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem
    }
}

.bs-sidebar {
    grid-area: sidebar
}

.bs-main {
    grid-area: main
}

@media (max-width: 991.98px) {
    .bs-main {
        max-width: 760px;
        margin-inline: auto
    }
}

@media (min-width: 768px) {
    .bs-main {
        display: grid;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit
    }
}

@media (min-width: 992px) {
    .bs-main {
        grid-template-areas: "intro   toc" "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr
    }
}

.bs-intro {
    grid-area: intro
}


.bs-content {
    grid-area: content;
    min-width: 1px
}

/* toc */
.bs-toc {
    grid-area: toc
}

@media (min-width: 992px) {
    .bs-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}

.bs-toc nav {
    font-size: .875rem
}

.bs-toc nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.bs-toc nav ul ul {
    padding-left: 1rem;
    margin-top: .25rem
}

.bs-toc nav li {
    margin-bottom: .25rem
}

.bs-toc nav a {
    color: inherit
}

.bs-toc nav a:not(:hover) {
    text-decoration: none
}

.bs-toc nav a.active,
.bs-toc nav a:hover {
    color: var(--bs-primary);
    font-weight: bold;
    border-left-color: var(--bs-primary);
    border-left-width: 0.15rem;
    border-left-style: solid;
    padding-left: 0.85rem;
    margin-left: -1rem;
    text-decoration: none;
    display: block;
}

.bs-toc nav a code {
    font: inherit
}

.bs-toc-toggle {
    display: flex;
    align-items: center
}

@media (max-width: 575.98px) {
    .bs-toc-toggle {
        justify-content: space-between;
        width: 100%
    }
}

@media (max-width: 767.98px) {
    .bs-toc-toggle {
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius)
    }

    .bs-toc-toggle:hover,
    .bs-toc-toggle:focus,
    .bs-toc-toggle:active,
    .bs-toc-toggle[aria-expanded="true"] {
        color: var(--bs-primary);
        background-color: var(--bs-body-bg);
        border-color: var(--bs-primary)
    }

    .bs-toc-toggle:focus,
    .bs-toc-toggle[aria-expanded="true"] {
        box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb), 0.25)
    }
}

@media (max-width: 767.98px) {
    .bs-toc-collapse nav {
        padding: 1.25rem;
        background-color: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius)
    }
}

@media (min-width: 768px) {
    .bs-toc-collapse {
        display: block !important
    }
}

/* footer */
.bs-footer a {
    color: var(--bs-body-color);
    text-decoration: none
}

.bs-footer a:hover,
.bs-footer a:focus {
    color: var(--bs-link-hover-color);
    text-decoration: underline
}

