
pre .str,
code .str {
    color: var(--bs-success-text);
}


pre .kwd,
code .kwd {
    color: var(--bs-danger-text);
}


pre .com,
code .com {
    color: var(--bs-danger-text);
    font-style: italic;
}

pre .typ,
code .typ {
    color: var(--bs-secondary-text);
}

pre .lit,
code .lit {
    color: var(--bs-info-text);
}

pre .pun,
code .pun {
    color: var(--bs-primary-text);
}

pre .pln,
code .pln {
    color: var(--bs-light-text);
}

pre .tag,
code .tag {
    color: var(--bs-primary-text);
}

pre .atn,
code .atn {
    color: var(--bs-info-text);
}

pre .atv,
code .atv {
    color: var(--bs-success-text);
}

pre .dec,
code .dec {
    color: var(--bs-success-text);
}


pre.prettyprint {
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;
}


ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--bs-secondary-text)
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}

/* Alternate shading for lines */
/* li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {} */

@media print {

    pre .str,
    code .str {
        color: #060;
    }

    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: bold;
    }

    pre .com,
    code .com {
        color: #600;
        font-style: italic;
    }

    pre .typ,
    code .typ {
        color: #404;
        font-weight: bold;
    }

    pre .lit,
    code .lit {
        color: #044;
    }

    pre .pun,
    code .pun {
        color: #440;
    }

    pre .pln,
    code .pln {
        color: #000;
    }

    pre .tag,
    code .tag {
        color: #006;
        font-weight: bold;
    }

    pre .atn,
    code .atn {
        color: #404;
    }

    pre .atv,
    code .atv {
        color: #060;
    }
}